@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-light: #f6f8fa;
  --color-foreground: #eeeeee;
}

.dark {
  --primary: oklch(0.922 0 0);
  --background: oklch(0.145 0 0);
}
